<nav class="navbar navbar-expand-lg bg-transparency">
    <a class="navbar-brand" href="/" style="margin-left: 10px;">Jail <i class="fa-solid fa-handcuffs fa-beat" style="color: white;"></i> Lens</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/register">Intake</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alerts">Alerts ({{ alertsCount }})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/release">Release</a>
        </li>
      </ul>
    </div>
</nav>